name: kanjiro_app
description: "A new Flutter project."
 
publish_to: 'none' 
 
version: 1.0.0+1

environment:
  sdk: ^3.7.2
 
dependencies:
  flutter:
    sdk: flutter
  
  cupertino_icons: ^1.0.8
  flutter_svg: ^2.2.0
  google_fonts: ^6.3.2
  transparent_image: ^2.0.1
  mobx: ^2.5.0
  flutter_mobx: ^2.3.0
  dio: ^5.9.0
  json_annotation: ^4.9.0
  injector: ^4.0.0


dev_dependencies:
  flutter_test:
    sdk: flutter

  flutter_lints: ^5.0.0
  build_runner: ^2.10.4
  mobx_codegen: ^2.7.4
  json_serializable: ^6.11.2

flutter:

  uses-material-design: true

  assets:
    - assets/images/

  # fonts:
  #   - family: Schyler
  #     fonts:
  #       - asset: fonts/Schyler-Regular.ttf
  #       - asset: fonts/Schyler-Italic.ttf
  #         style: italic
  #   - family: Trajan Pro
  #     fonts:
  #       - asset: fonts/TrajanPro.ttf
  #       - asset: fonts/TrajanPro_Bold.ttf
  #         weight: 700

